<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<title>{title}</title>
	<meta name="description" content="Slyncr">
	{assets.css.main}
</head>
<body>
	<header class="main-header dark clearfix">
		<div class="wrapper">
			<h1 class="logotype">Slyncr</a></h1>
			<nav>
				
			</nav>
		</div>
	</header>

	<article class="main-section" role="main">
		<div class="wrapper">
			{>body}
		</div>
	</article>

	<footer class="main-footer">
		<div class="wrapper">
			<h1>Footer</h1>
		</div>
	</footer>
</body>
</html>
