<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<title>{title}</title>
	{assets.css.main}
	<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
</head>
<body class="{classes.body}">
	<header class="main-header dark clearfix">
		<div class="wrapper">
			<h1 class="logotype">SlickSlide</a></h1>
			<nav>
				
			</nav>
		</div>
	</header>

	<article class="main-section clearfix" role="main">
		<div class="wrapper">
			{>body}
		</div>
	</article>

	<footer class="main-footer">
		<div class="wrapper">
			<iframe src="http://nodeknockout.com/iframe/view-the-source-luke" frameborder="0" scrolling="no" allowtransparency=true width="115" height="25"></iframe>
		</div>
	</footer>
</body>
</html>
