<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width" />
	{{ assets.css('main') }}
	<script>
		;("header footer section aside nav article figure figcaption hgroup time").replace(/\w+/g,function(a){document.createElement(a)});
	</script>
</head>
<body class="{{ classes.body }}">
	<header class="main-header dark clearfix">
		<div class="wrapper">
			<h1>
				<a href="/"><img class="logotype" src="/img/slideborg-logo.png" alt="Slideborg"></a>
			</h1>
		</div>
	</header>

	<article class="main-section clearfix" role="main">
		<div class="wrapper bottom-divider">
			{% block body %}{% endblock %}
		</div>
	</article>

	<footer class="main-footer">
		<div class="wrapper">
			<p><a href="/about/">What is this?</a></p>
			<p> Hand-crafted by <a href="http://cleverchris.com">@chrisjaure</a> | <a href="https://github.com/chrisjaure/slideborg">view source</a></p>
		</div>
	</footer>
	{{ assets.js('main') }}
</body>
</html>
