/*	=========================================================================
	Primary styles.
	Author: Chris Jaure
	========================================================================= */

html {
	background: #fff;
}

h1,
h2,
h3 {
	font-family: 'Montserrat Alternates', 'Arial Black', 'Arial', sans-serif;
}

h1 {
	font-size: 4em;
	margin: 0;
	letter-spacing: -0.05em; 
}

h2 {
	font-size: 1.6em;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}

ul,ol {
	padding-left: 0;
	margin-left: 0;
}

.dark {
	background: #111 url(/img/rebel.png);
	color: #fff;
}

.dark a {
	color: #fff;
}

.wrapper {
	max-width: 50em;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.main-header {
	height: 100px;
	border-bottom: solid 1px #999;
}

.logotype {
	position: absolute;
	bottom: -0.2em;
	left: 50%;
	margin-left: -3em;
	text-transform: uppercase;
	line-height: 1;
}
.logo {
	position: absolute;
	left: -108px;
	top: -34px;
}

.main-section .wrapper {
	box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
	padding: 4em 0;
	border-bottom: solid 1px #ccc;
}

.main-footer {
	text-align: center;
	margin-top: 3em;
	color: #555;
}

.info {
	font-style: italic;
	font-size: 0.9em;
	color: #666;
}

.block {
	display: block;
}

input[type="text"] {
	border-radius: 5px;
	border: solid 1px #222;
	box-shadow: inset -1px 1px 3px rgba(0,0,0,0.75);
	background: #333;
	color: #eee;
}

button {
	border-radius: 5px;
	border: solid 1px;
	border-color: #D70A39 #C90834 #9A0023 #9A0023;
	color: #eee;
	font-weight: bold;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
}
button:hover {
	box-shadow: inset 0 0 1px 1px #FF9B00;
	border-color: #FF9B00;
}
button:active {
	box-shadow: inset 0 0 1px 1px #00B0FF;
	border-color: #00B0FF;
}

.large-input {
	font-size: 1.2em;
	width: 65%;
	box-sizing: border-box;
	padding: 0.5em;
}

.large-input:focus {
	box-shadow: 0 0 4px #005AA7;
}

.large-button {
	font-size: 1.2em;
	width: 10%;
	min-width: 40px;
	box-sizing: border-box;
	padding: 0.5em 0;
}

.share-links {
	padding: 1px 1em;
	background: #FFF2A9;
	border-radius: 4px;
	box-shadow: inset 0 0 10px #C4A362;
	width: 84%;
	box-sizing: border-box;
	margin: 0 auto;
	font-weight: bold;
}

@media (max-width: 50em) {
	h1 {
		font-size: 2em; 
	}
	.main-header {
		height: 50px;
	}
	.logotype {
		margin-left: -2.5em;
	}
	.logo {
		width: 54px;
		left: -55px;
		top: -15px;
	}
	.main-section .wrapper {
		padding: 2em 0;
	}
}