/*	=========================================================================
	Primary styles.
	Author: Chris Jaure
	========================================================================= */

html {
	background: #fff;
}

h1,
h2,
h3 {
}

h1 {
	font-size: 4em;
	margin: 0;
	letter-spacing: -0.05em; 
}

h2 {
	font-size: 1.6em;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}

ul,ol {
	padding-left: 0;
	margin-left: 0;
}

.dark {
	background: #333 url(/img/debut_dark.png);
	color: #fff;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.dark a {
	color: #fff;
}

.wrapper {
	max-width: 40em;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.main-header {
	height: 86px;
	border-bottom:dotted 5px #444;
	text-align: center;
}

.logotype {
	position: absolute;
	bottom: -51px;
	left: 50%;
	margin-left: -186px;
}

.main-section .wrapper {
	padding: 3em 0;
}

.bottom-divider {
	box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
	border-bottom: solid 1px #ccc;
	border-radius: 5px;
}

.main-footer {
	text-align: center;
	margin-top: 3em;
	color: #555;
	font-size: 0.8em;
}

.info {
	font-style: italic;
	font-size: 0.9em;
	color: #666;
}

.block {
	display: block;
}

input[type="text"] {
	border-radius: 5px;
	border: solid 1px #222;
	box-shadow: inset -1px 1px 3px rgba(0,0,0,0.75);
	background: #333;
	color: #eee;
}

button {
	border-radius: 5px;
	border: solid 1px;
	border-color: #333;
	color: #eee;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
	font-weight: bold;
	box-shadow: inset -1px 1px 0 rgba(255,255,255,0.3);
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d8189 0%, #45484d 16%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d8189), color-stop(16%,#45484d), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d8189 0%,#45484d 16%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d8189 0%,#45484d 16%,#222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d8189 0%,#45484d 16%,#222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d8189 0%,#45484d 16%,#222 100%); /* W3C */
}
button:hover {
	box-shadow: inset 0 0 1px 1px #FF9B00;
	/*border-color: #FF9B00;*/
}
button:active {
	box-shadow: inset 0 0 1px 1px #00B0FF;
	/*border-color: #00B0FF;*/
}

.large-input {
	font-size: 1.2em;
	width: 75%;
	box-sizing: border-box;
	padding: 0.5em;
}

.large-button {
	font-size: 1.2em;
	width: 10%;
	min-width: 40px;
	box-sizing: border-box;
	padding: 0.5em 0;
}

.share-links {
	padding: 1px 1em;
	background: #FFF2A9;
	border-radius: 4px;
	box-shadow: inset 0 0 10px #C4A362;
	width: 84%;
	box-sizing: border-box;
	margin: 0 auto;
	font-weight: bold;
}

@media (max-width: 374px) {

	.main-header {
		height: 48px; 
	}

	.logotype {
		width: 220px;
		bottom: -32px;
		margin-left: -110px;
	}

	.main-section .wrapper {
		padding: 2em 0;
	}

}