/*	=========================================================================
	Primary styles.
	Author: Chris Jaure
	========================================================================= */

h1,
h2,
h3 {
	font-family: 'Montserrat Alternates', 'Arial Black', 'Arial', sans-serif;
}

h1 {
	font-size: 2em;
	/* letter-spacing: -0.1em; */
}

h2 {
	font-size: 1.6em;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}

ul,ol {
	padding-left: 0;
	margin-left: 0;
}

.dark {
	background: #333;
	color: #fff;
}

.dark a {
	color: #fff;
}

.wrapper {
	max-width: 60em;
	margin: 0 auto;
	position: relative;
	padding: 0 1em;
}

.main-header {
	
}

.logotype {
	font-size: 3em;
	margin:0.2em 0 0;
}
.logotype a {
	text-decoration: none;
}

.main-nav {
	margin-bottom: 1em;
	font-size: 1.2em;
}
.main-nav li {
	margin-bottom: 0.4em;
}
.main-nav a {
	text-decoration: none;
	font-weight: bold;
	background: #555;
	padding:0 0.2em;
}
.main-nav a:hover,
.main-nav .active,
.main-nav .active:hover {
	border-left: solid 0.2em #f0f;
}
.main-nav .active,
.main-nav .active:hover {
	cursor: default;
	border-left-width: 0.6em;
}

.main-section {
	padding: 2.5em 0;
	background: url(/img/striped_lens.png);
}

.main-footer {
	border-top: solid 0.6em #333;
}

.info {
	font-style: italic;
	font-size: 0.9em;
	color: #666;
}

.block {
	display: block;
}

.large-input {
	font-size: 1.2em;
	width: 75%;
	box-sizing: border-box;
	padding: 0.5em;
}

.large-button {
	font-size: 1.2em;
	width: 10%;
	min-width: 40px;
	box-sizing: border-box;
	padding: 0.5em 0;
}

/* Shared View
---------------------------------------------------------- */

.shared .wrapper {
	max-width: none;
}

.shared h1 {
	font-size: 1.5em;
}

.shared .main-section .wrapper {
	padding: 0;
}

.viewing-frame {
	border: 0;
	width: 100%;
	height: 60%;
}